@tailwind base;
@tailwind components;
@tailwind utilities;
*, .MuiTypography-root{
   font-family: 'Poppins', sans-serif;
}

.question-list > li:first-child  {
   padding-top: 0;
}

.left-shadow{
   box-shadow: 0px -10px 10px 0px #dddddd73;
}
.MuiAutocomplete-listbox {
    color: #979797;
    font-size: 14px;
}
.question-type .MuiAutocomplete-listbox .MuiAutocomplete-option[aria-selected="true"].Mui-focused, .question-type .MuiAutocomplete-listbox .MuiAutocomplete-option[aria-selected="true"]{
   background-color: #9C4DE2;
   color: #fff;
}